:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ff0000;
  --mainGrey: #808080;
  --babyBlue: #c6e2ff;
  --navy: #003366;
}
body {
  background-color: --lightBlue;
}

h4 {
  position: relative;
  margin: 5px;
  left: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.daily-stats {
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
  left: 50vh;
}

.title {
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
